footer {
  width: 100%;
  padding: 4vh;
  min-height: 40vh;
  background-color: #111111;
  color: white;
  display: flex;
  align-items: center;
}

footer .container-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;
}

.ft-icon {
  font-size: 18px;
  margin-right: 8px;
}

.footerlist .heading-list {
  margin: 15px 0;
  user-select: none;
}

.footerlist .heading-list h2 {
  font-weight: 500;
}

.footerlist .list-ft ul li {
  margin: 7px 0;
  cursor: pointer;
  color: rgb(143, 143, 143);
}

.footerlist .addition-part {
  margin: 20px 0;
}

.footerlist .addition-part p {
  margin: 12px 0;
}

.input-field input {
  width: 100%;
  padding: 10px 10px;
  background-color: rgb(97, 97, 97);
  color: white;
}

.input-field {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.input-field .icon-input-ft {
  background-color: #313131;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input-field .icon-input-ft .ft-icon {
  margin: 0 8px;
}
