header {
  background-color: #fff;
  box-shadow: 0px 1px 4px #00000017;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

nav .logo-bar {
  display: flex;
  align-items: center;
}

nav .logo-bar img {
  max-height: 90px;
  margin: -4px 0;
}
nav .icons {
  display: flex;
  gap: 16px;
}

nav .profile-tools {
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 20px;
}

.header-icon {
  font-size: 20px;
  cursor: pointer;
}

nav .profile-tools .profile-photo {
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

nav .profile-tools .profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav .logo-bar .search-bar {
  position: relative;
  box-shadow: 1px 1px 8px #00000017;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 8px;
  overflow: hidden;
}

nav .logo-bar .search-bar input {
  padding: 10px 20px;
  padding-left: 50px;
}

nav .logo-bar .search-bar .icon-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}
