.tools-holder {
  position: absolute;
  top: 100%;
  display: flex;
  gap: 4px;
  right: 20px;
}

.tlicon {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  background-color: black;
  color: white;
}
