.card-container-sd {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 1px #00000018;
  padding: 4px;
}

.card-container-sd .card-list .heading-card {
  font-weight: 200;
  font-size: 14px;
  padding: 10px;
}

.card-container-sd .card-list ul li {
  padding: 20px 10px;
}

.card-container-sd .card-list .heading-card h2 {
  font-weight: inherit;
}
