.side-list {
  background-color: #fff;
  box-shadow: 0 0 1px #00000018;
  width: 100%;
  border-radius: 8px;
}

.side-list .selector-list ul li {
  display: flex;
  padding: 20px 10px;
  align-items: center;
  gap: 4px;
  user-select: none;
  cursor: pointer;
}

.side-list .selector-list {
  font-weight: bold;
  padding: 8px;
}

.icon-style {
  font-size: 20px;
}
