/* .suggestions {
  background-color: #fff;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0 0 1px #00000018;
}

.suggested-items {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.suggested-items li {
  margin-bottom: 8px;
} */
