.card-container-sd .card-list ul li .sep-text {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  flex-wrap: wrap;
  user-select: none;
}

.card-container-sd .card-list ul li p {
  font-size: 18px;
}

.card-container-sd .card-list ul li span {
  font-size: 12px;
  padding: 4px;
  background-color: gray;
  align-self: center;
  color: white;
  border-radius: 10px;
  font-weight: 500;
}
